@media screen and (max-width:620px) {
    .ds-none{
        display: none
    }
    .ds-block{
        display: block;
        background: #00377a;
        margin-top: 70px;
    }
    .ds-block ul{
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        list-style-type: none;
    }
    .content-page .content {
        margin-top: 0;
    }
    .cont-nav-fg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cont-enlace{
        width: 100%;
    }
    .enlace_contenido,
    .full-footer{
        justify-content: center;
    }
    .logo-footer{
        margin-bottom: 20px;
    }
    .bg-color{
        padding: 30px 7px;
    }
}
@media screen and (max-width:480px) {
    .ingreso_h2{
        font-size: 20px;
    }
    .input-ingreso_span {
        font-size: 25px;
    }
    .input-ingreso input{
        height: 2.8em;
    }
    .cont-form {
        width: 100%;
    }
    .cont-form .card-body {
        padding: 20px 0px;
        width: 100%;
    }
    #mostrar_lista {
        padding: 20px 0;
    }
    .card-body {
        padding: 1.25rem 0;
    }
    .title_consulta{
        font-size: 25px;
    }
}
@media screen and (max-width:320px) {
    .cont-hola-user p {
        margin-bottom: 12px;
        font-weight: 800;
    }
    .cont-hola-user span {
        line-height: 1;
    }
    .container-form {
        padding: 20px 0px 50px !important;
    
    }
    .logo-footer img,
    .cont-nav-fg img{
        width: 100%
    }
    .logo-footer,
    .cont-nav-fg{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}